.list-item {
    border-radius: 5px;
    margin: 10px auto;
    width: 300px;
    background: red;
    color: white;
    padding: 10px;
    display: flex;
}

.list-item div {
    margin: 0 10px;
}

.header {
    margin: 20px 0;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.input-todolist {
    width: 500px;
    margin: 20px;
}

.button-todolist {
    width: 100px;
    margin: 20px;
}

.button-delete-todolist {
    vertical-align: right;
}

.input-check {
    margin-top: 30px;
}